
//
//  Editor
//  Mimic
//



.editor-container {
	position: fixed;
	top: 0;
	left: $sidebar-width;
	bottom: 0;
	right: 0;
}


#delete-file-btn {
	margin-right: 20px;
}


.editor-header {
	position: fixed;
	top: 0;
	left: $sidebar-width;
	right: 0;

	height: 47px;

	padding: 12px 25px;
	margin: 0;

	h1 {
		font-size: 24px;
		margin: 0;
		padding: 0;
		display: inline-block;

		margin-top: 1px;
	}

	p {
		display: inline-block;
		font-size: 15px;

		margin-left: 30px;
		color: #666666;
	}

	.glyphicon {
		margin: 2px 10px;
		font-size: 18px;
		color: #777777;
	}

	.glyphicon:hover {
		color: #444444;
	}
}


#editor {
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
}
