
//
//  Sidebar
//  Mimic
//



$sidebar-text: #ffffff;
$sidebar-text-selected: #f2f3f3;

$sidebar-background: #475f77;
$sidebar-background-selected: #354b5e;
$sidebar-width: 300px;



.sidebar-container {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: $sidebar-width;
	overflow: auto;

	background-color: $sidebar-background;
	color: $sidebar-text;
}


.sidebar {
	list-style: none;
	padding: 0;

	li {
		font-size: 16px;
		padding: 0;
		margin: 0;

		color: $sidebar-text-selected;
		cursor: default;

		&.computer {
			font-size: 20px;
		}

		p {
			padding: 10px 25px;
			margin: 0;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.selected {
			background-color: #354B5E;
			color: #ffffff;
		}

		.glyphicon {
			margin-top: 12px;
			margin-right: 15px;

			font-size: 14px;
			float: right;
		}

		&.computer .glyphicon {
			font-size: 14px;
			margin-top: 15px;
		}
	}
}
